<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pamaproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PamaProject">
        <activity android:name=".BirthNP" />
        <activity android:name=".Home_summary"></activity>
        <activity android:name=".Home_MilkWatch"></activity>
        <activity android:name=".Summary_height" />
        <activity android:name=".Summary_sleep" />
        <activity android:name=".Summary_unko" />
        <activity android:name=".Summary_weight" />
        <activity android:name=".Nikki_naiyou" />
        <activity android:name=".Nikki_tosibetu" />
        <activity android:name=".Nikki" />
        <activity android:name=".Article" />
        <activity android:name=".Article_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home"/>

        <activity android:name=".Start_Shared" />
        <activity android:name=".Start_Fail" />
        <activity android:name=".Start_Complete2" />
        <activity android:name=".Start_Complete" />
        <activity android:name=".Start_Babyinfo" />
        <activity android:name=".Start_Userinfo" />
        <activity android:name=".Start_Userinfo2" />
        <activity android:name=".Menu_Babyedit" />
        <activity android:name=".Menu_Babyadd" />
        <activity android:name=".Menu_Sharedone" />
        <activity android:name=".Menu_Share" />
        <activity android:name=".Menu_Help" />
        <activity android:name=".Menu_Baby" />
        <activity android:name=".MainActivity" ></activity>
    </application>

</manifest>